* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif;
  list-style: none;
}

body {
  color: #ededed;
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #081b29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header_logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s;
}
.header_logo:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
.nav a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}
.nav a:hover {
  color: #00abf0;
}

.main {
  height: 100vh;
  background: #081b29;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
  position: relative;
}
.main__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main__content__heading, .main__content__para1, .main__content__para2, .main__content__para3 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}
@media only screen and (max-width: 992px) {
  .main__content__heading, .main__content__para1, .main__content__para2, .main__content__para3 {
    font-size: 46px;
    transition: font-size 0.5s ease;
  }
}
@media only screen and (max-width: 768px) {
  .main__content__heading, .main__content__para1, .main__content__para2, .main__content__para3 {
    font-size: 36px;
    transition: font-size 0.5s ease;
  }
}
@media only screen and (max-width: 576px) {
  .main__content__heading, .main__content__para1, .main__content__para2, .main__content__para3 {
    font-size: 24px;
    transition: font-size 0.5s ease;
  }
}
@media only screen and (max-width: 428px) {
  .main__content__heading, .main__content__para1, .main__content__para2, .main__content__para3 {
    font-size: 20px;
    transition: font-size 0.5s ease;
  }
}
@media only screen and (max-width: 360px) {
  .main__content__heading, .main__content__para1, .main__content__para2, .main__content__para3 {
    font-size: 16px;
    transition: font-size 0.5s ease;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid #00abf0;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  height: 100%;
  width: 150px;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}
.btn:hover {
  color: #081b29;
}
.btn:hover::before {
  width: 100%;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  bottom: 0;
  left: 0;
  padding: 20px 10%;
  height: 100px;
  width: 100%;
  background: #081b29;
  z-index: 5;
}
.footer a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid #00abf0;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.footer a::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}
.footer a:hover {
  color: #081b29;
}
.footer a:hover::before {
  width: 100%;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}
#check {
  display: none;
}

.hamburger {
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
@media only screen and (min-width: 1701px) {
  .hamburger {
    display: none;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1700px) {
  .hamburger {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
.hamburger .bar, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  opacity: 90%;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  display: block;
  background: #081b29;
  z-index: 2;
  padding-top: 120px;
  transition: 0.4s;
}
@media only screen and (min-width: 1701px) {
  .mobile-nav {
    display: none;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1700px) {
  .mobile-nav {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-nav {
    display: block;
  }
}
.mobile-nav.is-active {
  left: 0;
}
.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #0b2030;
  color: #ededed;
  text-decoration: none;
}
.mobile-nav a:hover {
  background-color: #0f283b;
}

.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.about__text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__text__heading {
  font-size: 30px;
  margin-top: 35px;
  text-align: center;
}
.about__text__subheading {
  margin-top: 20px;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}
.about__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__image__photo {
  margin-top: 40px;
  width: 200px;
  height: 200px;
}
